@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Remove background-color and color to prevent overriding Tailwind styles */
}

#root {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center horizontally */
}


a {
  font-weight: 500;
  color: #4caf50; /* Green color for links */
  text-decoration: none;
}
a:hover {
  color: #388e3c; /* Darker green for hover state */
}
